<% num = params[:num] %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:r, :menu) %>">Result</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:r, :recently_select) %>">Recently</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <%= num %>weeks <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Union</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3>Recently <%= num %>weeks Result : Union</h3>
    <ul class="unstyled">
      <li class="union">Guild : </li>
      <% @gnames.each do |n| %>
        <li class="union">
          <a href="<%= url_for(:r, :full_guild, encode_for_url(n)) %>"><%= n %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>
<%= partial :results_union, :locals => {:target => :recently} %>
