<% num = params[:num] %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:r, :menu) %>">Result</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:r, :recently_select) %>">Recently</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <%= num %>weeks <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>All Guild</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3>Recently <%= num %>weeks Result : All Guild<%= result_subtitle %></h3>
  </div>
</div>
<% unless gvtype_te? %>
  <div class="row">
    <div class="offset6 span3">
      priority : <%= link_to('Total', url_for(:r, :recently_all, num), :unless => result_view_for_all?) %>
      / <%= link_to('SE', url_for(:r, :recently_all, num, :priority => 'se'), :unless => result_view_for_se?) %>
      / <%= link_to('FE', url_for(:r, :recently_all, num, :priority => 'fe'), :unless => result_view_for_fe?) %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="span9">
    <hr/>
  </div>
</div>
<%= partial :results_all, :locals => {:target => :recently} %>
