<%
from = params[:from]
to = params[:to]
span_label = format_span(from, to)
%>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:r, :menu) %>">Result</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:r, :span_select) %>">Span</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <%= span_label %> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>All Guild</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3><%= span_label %> (<%= @total.gv_dates.size %>weeks) Result : All Guild<%= result_subtitle %></h3>
  </div>
</div>
<div class="row">
  <div class="offset6 span3">
    priority : <%= link_to('Total', url_for(:r, :span_all, from, to), :unless => result_view_for_all?) %>
    / <%= link_to('SE', url_for(:r, :span_all,  from, to, :priority => 'se'), :unless => result_view_for_se?) %>
    / <%= link_to('FE', url_for(:r, :span_all,  from, to, :priority => 'fe'), :unless => result_view_for_fe?) %>
  </div>
</div>
<div class="row">
  <div class="span9">
    <hr/>
  </div>
</div>
<%= partial :results_all, :locals => {:target => :span} %>
