<%
from = params[:from]
to = params[:to]
span_label = format_span(from, to)
%>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:r, :menu) %>">Result</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:r, :span_select) %>">Span</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <%= span_label %> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Union</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3><%= span_label %> (<%= @dates.size %>weeks) Result : Union</h3>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>
<%= partial :results_union, :locals => {:target => :span} %>
