<%
date = @timeline.gv_date
targets = @timeline.forts
view_target = if targets.size > fort_nums.size
  case
  when gvtype_fe?
    'SE'
  when gvtype_te?
    'TE'
  end
else
  targets.first[0]
end

bstates = @timeline.before_states || {}
bstates = @timeline.states[@timeline.revs.first] if bstates.values.all?(&:blank?)
%>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:t, :date_list) %>">Timeline</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:t, :date, date) %>"><%= devided_date(date) %></a> <span class="divider">&gt;</span>
      </li>
      <li>Fort Timeline <span class="divider">&gt;</span></li>
      <li class="active"><strong><%= view_target %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Fort Timeline : <%= view_target %></h3>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table-striped table-bordered">
      <thead>
        <tr>
          <th class="span2"><%= devided_date(date) %></th>
          <% targets.each do |t| %>
            <th class="span3"><%= t %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="span2 center">Start</td>
          <% targets.each do |t| %>
            <td class="span3 attention center"><strong><%= bstates[t] || '-' %></strong></td>
          <% end %>
        </tr>
        <% @timeline.each_changed_time(params[:all]) do |rev, datas| %>
          <tr>
            <td class="span2 center">
              <a href="<%= url_for(:t, :rev, date, rev) %>"><%= revision_to_format_time_only(rev) %></a>
            </td>
            <% targets.each do |t|
              g = datas[t]
              case g
              when :none, nil %>
                <td class="span3 center"><small>-</small></td>
              <% when :stay %>
                <td class="span3 center"><small>↓</small></td>
              <% else %>
                <td class="span3 center">
                  <a href="<%= url_for(:t, :guild_timeline, date, encode_for_url(g)) %>"><%= g %></a>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td class="span2 center">Result</td>
          <% targets.each do |t| %>
            <td class="span3 attention center"><strong><%= @timeline.results[t] || '-' %></strong></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
