<%
date = @timeline.gv_date
name_table = create_name_table(@names)
gname = (@names.size == 1 ? @names.first : 'Union')
%>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:t, :date_list) %>">Timeline</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:t, :date, date) %>"><%= devided_date(date) %></a> <span class="divider">&gt;</span>
      </li>
      <li><a href="<%= url_for(:t, :union_select, date) %>">Guild</a> <span class="divider">&gt;</span></li>
      <li class="active"><strong>
          <% if @names.size == 1 %>
            <%= @names.first %>
          <% else %>
            Union
          <% end %>
        </strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3><%= "#{gname} : #{devided_date(date)}" %></h3>
    <% if @names.size > 1 %>
      <ul class="unstyled">
        <% name_table.each do |k, v| %>
          <li class="union">
            <%= v %> : <a href="<%= url_for(:t, :guild_timeline, date, encode_for_url(k)) %>"><%= k %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<%= partial :guild_timeline,
  :locals => {:date => date, :timeline =>@timeline, :name_table => name_table} %>
