<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        <a href="<%= url_for(:t, :date_list) %>">Timeline</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:t, :date, @date) %>"><%= devided_date(@date) %></a> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Situation</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Situations : <%= devided_date(@date) %></h3>
  </div>
</div>
<div class="row">
  <div class="span6">
    <ul class="nav nav-tabs nav-stacked">
      <% @revs.each do |r| %>
        <li><a href="<%= url_for(:t, :rev, @date, r) %>"><%= revision_to_format_time_only(r) %></a></li>
      <% end %>
    </ul>
  </div>
</div>
