<% rules, calls = @total.guilds.partition(&:has_forts?) %>
<div class="row">
  <div class="span9">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="span3" rowspan="2">Guild</th>
          <th colspan="3">Ruled</th>
          <th colspan="3">Called</th>
        </tr>
        <tr>
          <th class="span1">Total</th>
          <th class="span1">SE</th>
          <th class="span1">FE</th>
          <th class="span1">Total</th>
          <th class="span1">SE</th>
          <th class="span1">FE</th>
        </tr>
      </thead>
      <tbody>
        <% rlist = case
        when result_view_for_se?
          rules.sort_by(&:score_for_se).reverse
        when result_view_for_fe?
          rules.sort_by(&:score_for_fe).reverse
        else
          rules
        end %>
        <% rlist.each do |g| %>
          <tr>
            <td>
              <% case target %>
              <% when :full %>
                <%= link_to(g.name, url_for(:r, :full_guild, encode_for_url(g.name))) %>
              <% when :recently %>
                <%= link_to(g.name, url_for(:r, :recently_guild, params[:num], encode_for_url(g.name))) %>
              <% when :span %>
                <%= link_to(g.name, url_for(:r, :span_guild, params[:from], params[:to], encode_for_url(g.name))) %>
              <% else %>
                <%= g.name %>
              <% end %>
            </td>
            <td><%= g.ruled_count %></td>
            <td><%= g.ruled_count_se %></td>
            <td><%= g.ruled_count_fe %></td>
            <td><%= g.called_count %></td>
            <td><%= g.called_count_se %></td>
            <td><%= g.called_count_fe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span9">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="span6">
    <table class="table table-striped  table-condensed">
      <thead>
        <tr>
          <th class="span3" rowspan="2">Guild</th>
          <th colspan="3">Called</th>
        </tr>
        <tr>
          <th class="span1">Total</th>
          <th class="span1">SE</th>
          <th class="span1">FE</th>
        </tr>
      </thead>
      <tbody>
        <% clist = case
        when result_view_for_se?
          calls.sort_by(&:score_for_se).reverse
        when result_view_for_fe?
          calls.sort_by(&:score_for_fe).reverse
        else
          calls
        end %>
        <% clist.each do |g| %>
          <tr>
            <td>
              <% case target
              when :full %>
                <%= link_to(g.name, url_for(:r, :full_guild, encode_for_url(g.name)))  %>
              <% when :recently %>
                <%= link_to(g.name, url_for(:r, :recently_guild, params[:num], encode_for_url(g.name))) %>
              <% when :span %>
                <%= link_to(g.name, url_for(:r, :span_guild, params[:from], params[:to], encode_for_url(g.name))) %>
              <% else %>
                <%= g.name %>
              <% end %>
            </td>
            <td><%= g.called_count %></td>
            <td><%= g.called_count_se %></td>
            <td><%= g.called_count_fe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
