<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @reload %>
      <meta http-equiv="Refresh" content="<%= @reload %>" />
    <% end %>
    <%= stylesheet_link_tag 'bootstrap', 'main' %>
    <title>ROGv - Forts Watching System</title>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>ROGv <small>Forts Watching System (for <%= ROGv::ServerConfig.server_name %>)</small></h1>
      </div>
      <%= yield %>
    </div>
    <hr>
    <footer>
      <p class="center">"ROGv - Forts Watching System" by @parrot_studio 2012</p>
      <%= partial(:sample_footer) if sample_mode? %>
    </footer>
    <%= javascript_include_tag 'jquery', 'bootstrap.min' %>
  </body>
</html>
