<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="<%= url_for(:index) %>">Top</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:date_list) %>">Strategy Room</a> <span class="divider">&gt;</span>
      </li>
      <li>
        <a href="<%= url_for(:date, @timeline.date) %>"><%= devided_date(@timeline.date) %></a> <span class="divider">&gt;</span>
      </li>
      <li>Fort <span class="divider">&gt;</span></li>
      <% if @targets.size > 5 %>
        <li class="active"><strong>SE</strong></li>
      <% elsif @targets.size > 1 %>
        <li class="active"><strong><%= @targets.first[0] %></strong></li>
      <% else %>
        <li>
          <a href="<%= url_for(:fort_timeline, @timeline.date, @targets.first[0]) %>"><%= @targets.first[0] %></a> <span class="divider">&gt;</span>
        </li>
        <li class="active"><strong><%= @targets.first %></strong></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table-striped table-bordered">
      <thead>
        <tr>
          <th class="span2"><%= devided_date(@timeline.date) %></th>
          <% @targets.each do |t| %>
            <th class="span3"><%= t %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="span2 center">Start</td>
          <% @targets.each do |t|
            f = @timeline.before_date_fort(t)
            v = (f ? f.guild_name : '-')
          %>
            <td class="span3 attention center"><strong><%= v %></strong></td>
          <% end %>
        </tr>
        <% @timeline.each_changed_time(@targets, params[:all]) do |ti, li| %>
          <tr>
            <td class="span2 center">
              <a href="<%= url_for(:rev, @timeline.date, time_to_revision(ti)) %>"><%= format_time_only(ti) %></a>
            </td>
            <% li.each do |g|
              case g
              when :none %>
                <td class="span3 center"><small>-</small></td>
              <% when :stay %>
                <td class="span3 center"><small>↓</small></td>
              <% else %>
                <td class="span3 center">
                  <a href="<%= url_for(:guild_timeline, @timeline.date, encode_for_url(g)) %>"><%= g %></a>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td class="span2 center">Result</td>
          <% @targets.each do |t|
            f = @timeline.result_for(t)
            v = (f ? f.guild_name : '-')
          %>
            <td class="span3 attention center"><strong><%= v %></strong></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
