<div class="row">
  <div class="span6">
    <div class="alert alert-success">
      Last Update : <strong><%= format_time(@situation.update_time) %></strong>
    </div>
  </div>
  <div class="span4">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= @reload ? url_for(:index, :re => @reload) : url_for(:index) %>">Reload</a>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Auto Reload (now:<%= @reload ? "#{@reload}sec" : 'off' %>) <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="<%= url_for(:index) %>">off</a></li>
          <% reload_cycle.each do |c| %>
            <li><a href="<%= url_for(:index, :re => c) %>"><%= c %>sec</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="span2">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-info" href="<%= url_for(:menu) %>">Strategy Room</a>
      </div>
    </div>
  </div>
</div>
<%= partial :forts_table %>
